// font-sizes

$fz-hugest: 3.75rem; //60px
$fz-huge: 3rem; //48px
$fz-large: 2.25rem; //36px
$fz-semilar: 1.5rem; //24px
$fz-med: 1.125rem; //18px
$fz-sm: 0.875rem; //14px

// colors

$white: #fff;
$brightBlue: #008ed6;
$gray: #999999;
$black: #000;
$lightGray: #e4e4e4;
$darkGray: #444348;
$greyishBlack: #15141a;
$lightestGray: #e0e0e0;
